USE [BonusCardDB]
GO
/****** Object:  Trigger [trgCardNumber]    Script Date: 21.02.2021 17:28:59 ******/
DROP TRIGGER [dbo].[trgCardNumber]
GO
ALTER TABLE [dbo].[Client] DROP CONSTRAINT [FK_Client_BonusCard]
GO
/****** Object:  Table [dbo].[Client]    Script Date: 21.02.2021 17:28:59 ******/
DROP TABLE [dbo].[Client]
GO
/****** Object:  Table [dbo].[BonusCard]    Script Date: 21.02.2021 17:28:59 ******/
DROP TABLE [dbo].[BonusCard]
GO
USE [master]
GO
/****** Object:  Database [BonusCardDB]    Script Date: 21.02.2021 17:28:59 ******/
DROP DATABASE [BonusCardDB]
GO
/****** Object:  Database [BonusCardDB]    Script Date: 21.02.2021 17:28:59 ******/
CREATE DATABASE [BonusCardDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BonusCardDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\BonusCardDB.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BonusCardDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\BonusCardDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BonusCardDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BonusCardDB]
GO
/****** Object:  Table [dbo].[BonusCard]    Script Date: 21.02.2021 17:28:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BonusCard](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CardNumber] [nvarchar](6) NULL,
	[ExpirationDate] [datetime] NULL,
	[Balance] [int] NULL,
	[CreationDate] [datetime] NOT NULL CONSTRAINT [DF_BonusCard_CreationDate]  DEFAULT (getdate()),
 CONSTRAINT [PK_BonusCard] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Client]    Script Date: 21.02.2021 17:28:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Client](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Firstname] [nvarchar](50) NOT NULL,
	[Lastname] [nvarchar](50) NOT NULL,
	[PhoneNumber] [nvarchar](15) NOT NULL,
	[BonusCardID] [int] NULL,
 CONSTRAINT [PK_Client] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[BonusCard] ON 

INSERT [dbo].[BonusCard] ([ID], [CardNumber], [ExpirationDate], [Balance], [CreationDate]) VALUES (1, N'000001', NULL, 500, CAST(N'2021-02-15 21:28:53.843' AS DateTime))
INSERT [dbo].[BonusCard] ([ID], [CardNumber], [ExpirationDate], [Balance], [CreationDate]) VALUES (2, N'000002', NULL, 500, CAST(N'2021-02-15 21:29:38.823' AS DateTime))
INSERT [dbo].[BonusCard] ([ID], [CardNumber], [ExpirationDate], [Balance], [CreationDate]) VALUES (3, N'000003', CAST(N'2025-03-08 00:00:00.000' AS DateTime), NULL, CAST(N'2021-02-17 18:31:24.137' AS DateTime))
SET IDENTITY_INSERT [dbo].[BonusCard] OFF
SET IDENTITY_INSERT [dbo].[Client] ON 

INSERT [dbo].[Client] ([ID], [Firstname], [Lastname], [PhoneNumber], [BonusCardID]) VALUES (1, N'Vasia', N'Pupkin', N'+30505281475', 1)
INSERT [dbo].[Client] ([ID], [Firstname], [Lastname], [PhoneNumber], [BonusCardID]) VALUES (2, N'Fedor', N'Karnavalenko', N'+30661234567', 2)
INSERT [dbo].[Client] ([ID], [Firstname], [Lastname], [PhoneNumber], [BonusCardID]) VALUES (3, N'Oxana', N'Vinchecnko', N'+30675260303', 17)
SET IDENTITY_INSERT [dbo].[Client] OFF
ALTER TABLE [dbo].[Client]  WITH CHECK ADD  CONSTRAINT [FK_Client_BonusCard] FOREIGN KEY([BonusCardID])
REFERENCES [dbo].[BonusCard] ([ID])
GO
ALTER TABLE [dbo].[Client] CHECK CONSTRAINT [FK_Client_BonusCard]
GO
/****** Object:  Trigger [dbo].[trgCardNumber]    Script Date: 21.02.2021 17:28:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trgCardNumber] ON [dbo].[BonusCard]
FOR INSERT
AS
DECLARE @id int;
DECLARE @result nvarchar(6)
SELECT @id=i.id from inserted i;
SET @result =(REPLICATE('0',6-LEN(RTRIM(@id))) + RTRIM(@id))
UPDATE [dbo].[BonusCard] set CardNumber = @result where Id=@id
GO
USE [master]
GO
